# Ignore virtual environment
kris-env/
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore test database files
*.db
/.vs/dnd-campaign-manager/FileContentIndex
/TestResults
/.vs/dnd-campaign-manager/v17/TestStore/0
